/* General */
body {
  margin: 0;
  background-color: #000000;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #290101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8%;
}

/* Container for the logo and text */
.logo-container,
.minigame, .listofgames {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 80px;
  height: auto;
  display: block;
}

.logo-text {
  font-weight: bold;
  font-size: 40px;
  font-family: "Nosifer", "Kings", sans-serif; 
  font-weight: 400;
  font-style: normal;
  color: #e61414;
  display: flex;
}

.button-text{
    display: inline-block;
    background-color: #e61414;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: medium;
}

/* All links for the pages */
a {
  text-decoration: none;
  color: white;
}

/* All h1 - h6 and p styling */
h1 {
  color: rgb(247, 44, 44);
  text-align: center;
  font-size: 50px;
}

/* Navigation */
.navlist {
  list-style: none;
  display: flex;
  justify-content: center; 
  gap: 35px;
  margin: 0;
  padding: 15px 0;         
  background-color: #460d0d; 
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.navlist li a, .communitynav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: larger;
  position: relative;
  transition: color 0.3s ease;
  align-items: center;
}

.navlist li a:hover, .communitynav li a:hover {
  color: #b87333;
}


/* Mini Game */
.lab-wrapper {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
}

.shelf {
    background: #251a30;
    padding: 20px;
    border-radius:30px;
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 40px;
    border: 5px solid #e5caff;
}

.potion {
    font-size: 3rem;
    cursor: grab;
    transition: transform 0.2s;
    padding: 2%;
    margin: 1%;
    background-color: #7070dc;
    font-size: small;
}

.potion:hover {
    transform: translateY(-5px);
}

.cauldron {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 6px solid #ffffff;
    border-radius: 50% 50% 40% 40%;
    background: radial-gradient(circle at 50% 100%, #1a1a1a, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    color: #ffffff;
}


.cauldron.drag-over {
    border-color: #9d4edd;
    box-shadow: 0 0 30px #9d4edd;
    transform: scale(1.05);
}

.cauldron.mixing {
    animation: shake 0.5s infinite;
    color: #ffffff;
}

.ui-panel {
    margin-top: 30px;
    color: #ffffff;
}

#reset-btn {
    padding: 10px 20px;
    background: #443355;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn:hover { background: #5a4470; }

/* Discussion Page */
.playedgames {
  margin: 1% 5% 1% 5%;
}

.recentgame{
  margin-left: 3%;
}

.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: start;
  border: 0.1px solid #ffffff;
  border-radius: 10px;
}


.headerdescription{
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.subheader {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #ffffff;
}

.listofgames {
  background: rgba(0, 0, 0, 0.2); 
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.game-info {
    display: flex;
    flex-direction: column;
}

.game-text{
  color: #ffffff;
  font-weight: bold;
}

.subtext {
    color: #ffffff;
    font-size: 13px;
}

.game-img {
  width: 30px;
  height: auto;
  display: block;
}

.search-bar {
  width: 80%;
  background: #101822;
  border: 1px solid #000;
  color: white;
  padding: 2%;
  border-radius: 3px;
}

.activity-feed {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.feed-tabs {
    border-bottom: 2px solid #2a475e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    color: #fff;
    font-size: 14px;
}

.communitynav {
  list-style: none;
  display: flex;
  justify-content: center; 
  gap: 35px;
  margin: 0;
  padding: 15px 0;         
  background-color: #e69292; 
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  margin: 1% 5% 1% 5%;
}




/* --- RESPONSIVE ADJUSTMENTS --- */
@media (max-width: 496px) {
  header {
    flex-direction: column; 
    align-items: center;    
  }

  .logo {
    margin-bottom: 10px;
    justify-content: center;
  }

  .logo-text {
    font-size: 32px;
  }

  .logo-container, .minigame {
    align-items: center;
    gap: 20px;
  }

  .navlist {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
    
  .logo img {
    width: 100px;
  }
  
}
